.sb-show {
	margin-top: 82px;
}

.sb-show .smartbanner {
	display: block;
}

/** Default **/
.smartbanner {
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 82px;
	line-height: 82px;
	background: #f4f4f4;
	z-index: 9998;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	-webkit-text-size-adjust: none;
}

.sb-container {
	margin: 0 auto;
	white-space: nowrap;
}

.sb-close {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 0 5px;
	font-size: 20px;
	color: #888;
}

.sb-close svg {
	vertical-align: middle;
	height: 24px;
	width: 24px;
}

.sb-icon {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	background-size: cover;
	border-radius: 10px;
}

.sb-info {
	display: inline-block;
	vertical-align: middle;
	width: 44%;
	font-size: 13px;
	line-height: 15px;
}

.sb-title {
	font-size: 15px;
	line-height: 17px;
	font-weight: bold;
	margin-bottom: 2px;
}

.sb-store {
	margin-top: 4px;
}

.sb-button {
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	height: 18px;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	color: #9a1788;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
